<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add</title>

  </head>
  <body>
    <form class="" action="/add" method="post">
      <div class="input-group mb-3">
        <input class="form-control" type="text" id="title" name="title" placeholder="title...">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">title</span>
        </div>
      </div>
      <div class="input-group mb-3">
        <input class="form-control" type="text" id="year" name="year" placeholder="year..." pattern="(19\d\d)|(20[01]\d)">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">year</span>
        </div>
      </div>
      <div class="input-group mb-3">
        <select name="format" id="format" class="custom-select">
          <option selected>Choose...</option>
          <option value="DVD">DVD</option>
          <option value="VHS">VHS</option>
          <option value="Blu-Ray">Blu-Ray</option>
        </select>
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect02">Formats</label>
        </div>
      </div>
      <div class="input-group mb-3">
        <input class="form-control" type="text" id="stars" name="stars" placeholder="stars..."  >
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">stars</span>
        </div>
      </div>
      <p><%= error %></p>
      <button class="btn btn-secondary" type="submit">Add</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
